body {
    padding: 2%;
    background-image: url('/Users/mosesbaek/dev/Project-1/golf_weather/background image/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1, h2{
    text-align: center;
    position: relative;
    left: 1%;
}

h2 {
    color: white;
}

form {
    display: flex;
    align-self: center;
    height: 15%;
    width: 40%;
    margin-bottom: 1%;
    position: relative;
    left: 32%;
}

input[type=submit] {
    width: 20%;
    height: 10%;
    margin-left: 2px;
}

input[type=text] {
    text-align: center;
}

.bigBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.twoBtn {
    display: flex;
    flex-direction: row;
    height: 15%;
    margin-top: 1%;
    position: relative;
    left: 65%;
}

button {
    width: 100px;
    height: 25px;
    text-align: center;
}

.currentWeather {
    display: flex;
    display: column;
    /* justify-content: space-around; */
    box-sizing: border-box;
    border: 1px solid black;
    height: 50vh;
    width: 50vw;
    border-radius: 10px;
    position: relative;
    left: 35%;
    background: #5FA323;
}

.container {
    width: 100%;
    border-radius: 10px;
    display: none;
    background-repeat: no repeat;
    background-size: contain;
}

.weather {
    color: #4D5B70;
    width: 100%;
    align-self: center;
    text-align: center;
}

.currentWeather div:first-of-type {
    display: block;
}
