@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-image: url('background image/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}

.header {
    background-image: url('img/header-background.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2%;
    width: 80vw;
    height: 50vh;
}

h1 {
    text-align: center;
    padding-top: 2%;
    color: white;
}

h4 {
    text-align: center;
    padding-top: 6%;
    color: white;
}

form {
    display: flex;
    align-self: center;
    height: 15%;
    width: 40%;
    margin-bottom: 1%;
}

input[type=submit] {
    width: 45%;
    height: 49%;
    margin-left: 2px;
    background: #85C0FF;
    border-radius: 10px;
}

input[type=text] {
    text-align: center;
    height: 40%;
    width: 60%;
}

.bigBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.twoBtn {
    display: flex;
    flex-direction: row;
    height: 15%;
    margin-top: 1%;
    align-self: center;

}

button {
    width: 10vw;
    height: 5vh;
    text-align: center;
    margin: 2%;
    background: #85C0FF;
    border-radius: 10px;
}

.currentWeather {
    display: flex;
    display: column;
    box-sizing: border-box;
    height: 60vh;
    width: 70vw;
    border-radius: 10px;
    background: transparent;

    align-self: center;
}

.container {
    width: 100%;
    border-radius: 10px;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.weather {
    color: #EDF0F2;
    font-size: 25px;
    width: 100%;
    align-self: center;
    text-align: center;
    position: relative;
    top: 10%;
    font-family: 'copperplate';
}

.currentWeather div:first-of-type {
    display: block;
}
