body {
    padding: 1%;
}

.bigBox {
    display: flex;
    flex-direction: column;
}

.twoBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
}

button {
    width: 100px;
    height: 25px;
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    height: 15%;
}

input[type=submit] {
    width: 10%;
    height: 10%;
    margin-left: 2px;
}

input[type=text] {
    text-align: center;
}

.currentWeather {
    display: flex;
    display: column;
    justify-content: center;
    box-sizing: border-box;
    height: 70%;
    border: 1px solid black;
}

.container {
    width: 100%;
}

.weather {
    color: green;
}
